@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@800&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #fff;
    font-size: 6em;
    text-transform: uppercase;
    font-family: 'MuseoModerno', "Arial Black", sans-serif;
}

h1.invert {
    color: #101010;
}

section {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20vh;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    clip-path: polygon(0 100%, 100% 85%, 100% 100%);
}

section.header,
section.hobbies,
section.skills,
section.about::before,
section.projects::before,
section.about::before {
    background-color: #101010;
}


section.about,
section.projects,
section.header::before,
section.hobbies::before,
section.skills::before {
    background-color: #eeeeee;
}

section.header {
    background-color: #050505;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0 !important;
}

section.header > div.background > canvas,
section.header > div.background,
section.header > header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.header > header {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.header > header > nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

section.header > header > nav > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    position: relative;
    margin: 1em 3em;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
    font-family: "Roboto", sans-serif;
}

section.header > header > nav:hover a {
    opacity: 1;
    visibility: visible;
}

section.header > header > nav > a::before {
    content: "";
    position: absolute;
    bottom: -40%;
    left: 0;
    height: 0;
    transition: height 0.1s ease-in-out;
    width: 100%;
    background-color: #ffffff;
    visibility: hidden;
}

section.header > header > nav > a:hover::before {
    height: 2px;
    transition: height 0.1s ease-in-out;
    visibility: visible;
}

section > p {
    margin: auto 0;
    width: 40%;
    font-size: 1.2em;
    text-align: justify;
    position: relative;
    line-height: 150%;
}

section > p::before {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    height: 100%;
    width: 5px;
    border-radius: 5px 0 0 5px;
    background-color: #bbbbbb;
}

section.skills {
    color: #ffffff;
}

section.skills > .languages > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-width: 30vw;
    padding: 1em;
    border-bottom: #ffffff22 solid 2px;
}

section.skills .progress-bar {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

section.skills > .languages > .java > .progress-bar {
    background: radial-gradient(closest-side, #101010 49%, transparent 50%), conic-gradient(#32CD32 65%, #32CD3222 0);
}

section.skills > .languages > .python > .progress-bar {
    background: radial-gradient(closest-side, #101010 49%, transparent 50%), conic-gradient(#17BEBB 70%, #17BEBB22 0);
}

section.skills > .languages > .php > .progress-bar {
    background: radial-gradient(closest-side, #101010 49%, transparent 50%), conic-gradient(#ff1010 70%, #ff101022 0);
}

section.skills > .languages > .javascript > .progress-bar {
    background: radial-gradient(closest-side, #101010 49%, transparent 50%), conic-gradient(#FFFF00 75%, #FFFF0022 0);
}

section.skills > .languages > .frontend > .progress-bar {
    background: radial-gradient(closest-side, #101010 49%, transparent 50%), conic-gradient(#FF69B4 80%, #FF69B422 0);
}

section.projects > div.repoList > .repoElement > .languages > p.java {
    background-color: #32CD32AA;
}

section.projects > div.repoList > .repoElement > .languages > p.python {
    background-color: #17BEBBAA;
}

section.projects > div.repoList > .repoElement > .languages > p.php {
    background-color: #ff1010AA;
}

section.projects > div.repoList > .repoElement > .languages > p.javascript {
    background-color: #FFFF00AA;
}

section.projects > div.repoList > .repoElement > .languages > p.css,
section.projects > div.repoList > .repoElement > .languages > p.html {
    background-color: #FF69B4AA;
}

section.projects > div.repoList > .repoElement > .languages > p {
    margin: 0 0.3em;
    padding: 0.3em 0.8em;
    border-radius: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 0 0.4em 0.05em #00000044 ;
}

section.projects > div.repoList > .repoElement > .languages {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}


section.skills > p {
    margin-top: 2em;
}

section.projects > div.repoList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
}

section.projects > div.repoList > .repoElement {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-row-gap: 1em;
    width: 100%;
    padding: 1em;
    border-bottom: #10101022 solid 2px;
}

section.projects > div.repoList > .repoElement > a {
    text-decoration: none;
    color: #208420;
    position: relative;
    width: max-content;
    padding: 0 0.5em;
}


section.projects > div.repoList > .repoElement > .size,
section.projects > div.repoList > .repoElement > .language,
section.projects > div.repoList > .repoElement > .update {
    justify-self: end;
}

section.projects > div.repoList > .repoElement > a,
section.projects > div.repoList > .repoElement > h3,
section.projects > div.repoList > .repoElement > p {
    height: max-content;
}

section.projects > div.repoList > .repoElement > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

section.projects > div.repoList > .repoElement:hover p {
    white-space: normal;
}

section.projects > div.repoList > .repoElement > a::before {
    content: "";
    position: absolute;
    bottom: -0.1em;
    left: 0;
    height: 0;
    width: 100%;
    transition: height 0.1s ease-in-out;
    background-color: #208420;
    /*background-color: red;*/
}


section.projects > div.repoList > .repoElement > a:hover::before {
    height: 1px;
    transition: height 0.1s ease-in-out;
}